<div class="py-4">
  <input
    type="text"
    placeholder="Search photos..."
    (keyup)="searchTerm$.next($event.target.value)"
    class="border w-full p-2 shadow"
  />
</div>
<p *ngIf="(lastSearchTerm$ | async)">
  Results for: <code>{{ lastSearchTerm$ | async }}</code>
</p>
<div class="py-4 flex flex-wrap">
  <app-photo-card
    *ngFor="let result of (results$ | async)"
    [photo]="result"
    [showDetails]="true"
    (selected)="openFavoritesModal($event)"
    class="m-2"
  ></app-photo-card>
</div>

<ngx-smart-modal #favoritesModal identifier="favoritesModal">
  <h1 class="mb-4">Add to favorites</h1>

  <div class="mb-4">
    <label for="favorite" class="block text-grey-darker text-sm font-bold mb-2">
      Existing list
    </label>

    <div class="flex justify-between">
      <select
        id="favorite"
        name="favorite"
        [(ngModel)]="selectedFavorite"
        [disabled]="!(favorites$ | async).length"
        class="border p-2 shadow w-3/5"
      >
        <option
          *ngFor="let favorite of (favorites$ | async)"
          [ngValue]="favorite"
        >
          {{ favorite.name }}
        </option>
      </select>

      <button
        type="button"
        (click)="addToFavorites(selectedFavorite, favoritesModal.getData())"
        [disabled]="!selectedFavorite"
        *ngIf="!showAddForm"
        class="bg-blue hover:bg-blue-dark text-white py-1 px-2"
      >
        Confirm
      </button>
    </div>
  </div>

  <div class="mb-4">
    <span class="mb-2"> or </span>
    <button
      type="button"
      (click)="toggleAddForm()"
      class="bg-green hover:bg-green-dark text-white py-1 px-2"
    >
      Create new
    </button>
  </div>

  <div *ngIf="showAddForm">
    <app-favorite-form
      [submitText]="'Confirm'"
      (submitted)="addToFavorites($event, favoritesModal.getData(), true)"
    ></app-favorite-form>
  </div>
</ngx-smart-modal>
