<h2>My Favorites</h2>

<button
  type="button"
  (click)="createList()"
  class="bg-green hover:bg-green-dark text-white py-1 px-2"
>
  Create list
</button>

<div *ngFor="let favorite of (favorites$ | async)" class="pt-4 border-b">
  <h3>{{ favorite.name }}</h3>
  <p>{{ favorite.description }}</p>

  <div class="py-4 flex flex-wrap" *ngIf="favorite.photos.length">
    <app-photo-card
      *ngFor="let photo of favorite.photos"
      [photo]="photo"
      [enableDownload]="true"
      (downloaded)="downloadPhoto($event)"
      class="m-2"
    ></app-photo-card>
  </div>
</div>
